<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131104623372-kjt6m55bj7u11cgusk7b183bb9i6j1q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131104623372-kjt6m55bj7u11cgusk7b183bb9i6j1q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDgLfikMKraTMm2bj9m6JfJjgdFUhEdzJw</string>
	<key>GCM_SENDER_ID</key>
	<string>131104623372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prideraAssesmentTask</string>
	<key>PROJECT_ID</key>
	<string>pridera-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>pridera-assessment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131104623372:ios:05950e80c6909d39689729</string>
</dict>
</plist>